# Chart, templates and values
Chart.yaml @AndyInternet
values.yaml @AndyInternet
/templates @AndyInternet

# CI/CD and automation
.github/ @AndyInternet

# Documentation
README.md @AndyInternet @djfarrelly
CLAUDE.md @AndyInternet